<md-dialog ng-style="{'min-height': '230px', 'width': '700px', 'padding': '20px'}">


    <h2 class="md-title">
        Request Usal Coin(USL)
    </h2>

    <div class="md-padding" layout="column">

        <div layout="row" layout-align="start center" style="padding-bottom: 30px" >
            <md-input-container flex="70">
                <label>Copy and Share your Address</label>
                <md-select ng-disabled="true" placeholder="Add an investment portfolio" ng-model="from">
                    <md-option ng-value="a">asdfgkasljdfa</md-option>
                </md-select>
            </md-input-container>
            <md-button flex class="md-raised md-primary" ng-click="saveComponent()">
                Copy Address
            </md-button>
        </div>

    </div>

    <md-button class="md-raised md-primary" ng-click="saveComponent()">
        Continue
    </md-button>

</md-dialog>
